.cards {
  margin-top: 20px;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: auto;
    gap: 20px;
  }
}
