.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.card__title {
  font-size: 20px;
  line-height: 1.2;
  margin: auto 0;
}
.card__like-btn {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  object-fit: cover;
  align-self: center;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.4;
  padding: 0;
}
.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .card__title {
    font-size: 18px;
    line-height: 1;
  }
}

@media screen and (max-width: 680px) {
  .card__title {
    font-size: 16px;
  }
}
