.card {
  max-width: 413px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.25;
}
.card__image {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card__title {
  font-size: 20px;
  margin: auto 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-btn {
  width: 23px;
  height: 20px;
  align-self: center;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
}
.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .card__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
    justify-self: center;
  }
  .card__title {
    font-size: 16px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
  }
  .card__like-btn img {
    width: 20px;
    height: 18px;
  }
}
