.cards {
  margin-top: 20px;
  width: 100%;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .cards__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
