.card {
  position: relative;
  max-width: 413px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.25;
}
.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../images/delete.svg);
  background-size: 12px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.card__delete-btn:hover {
  background-color: rgb(255, 101, 101);
}
.card__image {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card__title {
  font-size: 20px;
  margin: auto 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-btn {
  min-width: 23px;
  min-height: 20px;
  border: none;
  background-image: url(../images/like-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  cursor: pointer;
}
.card__like-btn:hover {
  opacity: 1;
}
.card__like-btn_active {
  background-image: url(../images/liked.svg);
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}
.card__like-btn_active:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .card__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
    justify-self: center;
  }
  .card__title {
    font-size: 16px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
