.header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  /* Figma has .8 opacity but conflicts with video */
  background-color: rgba(255, 255, 255);
  /* Figma properties panel says bottom-border 1px but unclear */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.8); */
}

.header__logo {
  width: 94px;
  height: 26px;
}
