.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  color: rgb(33, 33, 33);
}
.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
