.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  line-height: 1.25;
}
.profile__avatar {
  display: block;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
  width: 190px;
  height: 190px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin-right: 20px;
}
.profile__name {
  font-size: 32px;
  margin: 0 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__description {
  font-size: 16px;
  margin: 0 0 12px;
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__edit-btn {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  padding: 0;
  width: fit-content;
  color: rgb(33, 33, 33);
  -webkit-text-fill-color: rgb(33, 33, 33);
  -webkit-appearance: none;
  cursor: pointer;
}
.profile__edit-btn:hover {
  opacity: 1;
}
.profile__new-btn {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  padding: 18px 32px;
  gap: 8px;
  color: rgb(252, 245, 229);
  background-color: rgb(33, 33, 33);
  border: none;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
}
.profile__new-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .profile__column {
    max-width: 360px;
  }
  .profile__avatar {
    margin-right: 12px;
    width: 144px;
    height: 144px;
  }
  .profile__name {
    font-size: 24px;
    margin: 0 0 8px;
  }
  .profile__description {
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    max-width: 288px;
    text-align: center;
  }
  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }
  .profile__column {
    margin: 0;
    align-items: center;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }
  .profile__description {
    margin: 0 0 32px;
  }
  .profile__new-btn {
    margin: 20px 0 0;
    width: 100%;
    justify-content: center;
  }
}
