.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 245, 229);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  color: rgb(33, 33, 33);
}
.page__section {
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

@media screen and (max-width: 630px) {
  .page__section {
    max-width: 288px;
  }
}